In [2]:
import json
import requests
import pandas as pd
import folium

In [5]:
giro="ropa"
long=19.421336 
lat=-99.162700
mts=1000

In [6]:
response = requests.get("https://www.inegi.org.mx/app/api/denue/v1/consulta/Buscar/{}/{},{}/{}/44522d01-cae7-455b-9b53-7fc7d481cecb".format(giro,long,lat,mts))
results = response.json()

data = pd.DataFrame(response.json())
data.head()

,CP,Calle,CentroComercial,Clase_actividad,Colonia,Correo_e,Estrato,Id,Latitud,Longitud,...,NumLocal,Num_Exterior,Num_Interior,Razon_social,Sitio_internet,Telefono,Tipo,TipoCentroComercial,Tipo_vialidad,Ubicacion
0,06700,CHAPULTEPEC,,"Comercio al por menor de ropa, excepto de bebé...",ROMA NORTE,,0 a 5 personas,1028566,19.42291204,-99.16300694,...,,,,,WWW.ERICK-MARBOUTIQUE.COM.MX,,Fijo,,AVENIDA,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO"
1,06700,OAXACA,,Confección de prendas de vestir sobre medida,ROMA NORTE,,0 a 5 personas,7732571,19.42267289,-99.16370774,...,,12,,SHAILLA VALDERRAMA LOYOLA,,,Fijo,,AVENIDA,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO"
2,06700,JALAPA,,Comercio al por menor de artículos usados,ROMA NORTE,,0 a 5 personas,8386350,19.42303170,-99.16240274,...,,13,,VENTA DE ROPA USADA,,,Fijo,,CALLE,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO"
3,06700,INSURGENTES SUR,NO ME LO PROPORCIONARON,Fabricación de ropa exterior de tejido de punto,ROMA NORTE,ISPANACAPITAL@HOTMAIL.COM,0 a 5 personas,657665,19.41977970,-99.16400320,...,216,216,0,,,,Fijo,EDIFICIO COMERCIAL Y DE SERVICIOS,AVENIDA,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO"
4,06700,JALAPA,,"Comercio al por menor de ropa, excepto de bebé...",ROMA NORTE,LEMURSHOP@GMAIL.COM,0 a 5 personas,1029621,19.41941920,-99.16151743,...,,85,0,,,,Fijo,,CALLE,"CUAUHTÉMOC, Cuauhtémoc, CIUDAD DE MÉXICO"

In [7]:
len(data)

127

In [3]:
datafe = pd.read_csv('../denue_inegi_09.csv',encoding = "ISO-8859-1")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
#Limpieza denue cdmx
datafe.info()
info=datafe[["id","nom_estab","codigo_act","nombre_act","tipoCenCom","tipoUniEco","ageb","manzana","latitud","longitud","fecha_alta","www"]]
for e in info.select_dtypes('object').columns:
    info[e]=info[e].astype('category')
for e in info.select_dtypes('integer').columns:
    info[e]=pd.to_numeric(info[e], downcast='integer')
for e in data.select_dtypes('float').columns:
    info[e]=pd.to_numeric(info[e], downcast='float')
info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466301 entries, 0 to 466300
Data columns (total 41 columns):
id            466301 non-null int64
nom_estab     466301 non-null object
raz_social    103391 non-null object
codigo_act    466301 non-null int64
nombre_act    466301 non-null object
per_ocu       466301 non-null object
tipo_vial     465766 non-null object
nom_vial      466293 non-null object
tipo_v_e_1    457196 non-null object
nom_v_e_1     458016 non-null object
tipo_v_e_2    457271 non-null object
nom_v_e_2     458002 non-null object
tipo_v_e_3    457539 non-null object
nom_v_e_3     457924 non-null object
numero_ext    388060 non-null float64
letra_ext     184386 non-null object
edificio      90517 non-null object
edificio_e    92137 non-null float64
numero_int    206142 non-null float64
letra_int     46141 non-null object
tipo_asent    466156 non-null object
nomb_asent    466263 non-null object
tipoCenCom    88178 non-null object
nom_CenCom    87444 non-null object
num_local     86838 non-null object
cod_postal    466111 non-null float64
cve_ent       466301 non-null int64
entidad       466301 non-null object
cve_mun       466301 non-null int64
municipio     466301 non-null object
cve_loc       466301 non-null int64
localidad     466301 non-null object
ageb          466285 non-null object
manzana       466285 non-null float64
telefono      125493 non-null object
correoelec    78268 non-null object
www           37279 non-null object
tipoUniEco    466301 non-null object
latitud       466301 non-null float64
longitud      466301 non-null float64
fecha_alta    466301 non-null object
dtypes: float64(7), int64(5), object(29)
memory usage: 145.9+ MB

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466301 entries, 0 to 466300
Data columns (total 12 columns):
id            466301 non-null int32
nom_estab     466301 non-null category
codigo_act    466301 non-null int32
nombre_act    466301 non-null category
tipoCenCom    88178 non-null category
tipoUniEco    466301 non-null category
ageb          466285 non-null category
manzana       466285 non-null float64
latitud       466301 non-null float64
longitud      466301 non-null float64
fecha_alta    466301 non-null category
www           37279 non-null category
dtypes: category(7), float64(3), int32(2)
memory usage: 33.9 MB

In [12]:
empresas=data.Id
len(empresas)
d=info[info["id"].isin(empresas)]
d.head()

,id,nom_estab,codigo_act,nombre_act,tipoCenCom,tipoUniEco,ageb,manzana,latitud,longitud,fecha_alta,www
3630,7732571,BOUTIQUE DE ROPA SOREIM FASHION ATELIER,315225,Confección de prendas de vestir sobre medida,NaN,Fijo,0998,19.0,19.422673,-99.163708,2019-11,NaN
4398,863029,DOCE CERO TRES,315229,Confección en serie de otra ropa exterior de m...,NaN,Fijo,1106,10.0,19.417928,-99.160441,2010-07,WWW.DOCECEROTRES.COM.MX
4762,8326112,ELABORACIÓN DE VESTIMENTA HECHO MXCITY,315229,Confección en serie de otra ropa exterior de m...,NaN,Fijo,0998,9.0,19.421939,-99.168670,2019-11,WWW.HECHO.COM.MX
5157,1028977,FIDENZE COLLEZIONE,315229,Confección en serie de otra ropa exterior de m...,OTRO CONGLOMERADO,Fijo,095A,6.0,19.423575,-99.165789,2010-07,NaN
5168,8326350,FLOR DE MAYO ESTRATEGIAS,315229,Confección en serie de otra ropa exterior de m...,EDIFICIO COMERCIAL Y DE SERVICIOS,Fijo,1093,11.0,19.417781,-99.165862,2019-11,NaN

In [ ]:
llat=list(d.latitud)
llong=list(d.longitud)
name=list(d.nom_estab)

mapa=folium.Map(location=[long, lat], tiles='openstreetmap', zoom_start=15)

for i in range(len(d)):
    folium.Marker([llat[i], llong[i]], icon=folium.Icon(color='red'),popup=name[i]).add_to(mapa)
    
display(mapa)

In [ ]:
d["fecha_alta"]=pd.to_datetime(d.fecha_alta) 
d.head()

In [ ]:
import statsmodels.api as sm
day=d["fecha_alta"]
day.plot();

In [ ]:
#Indice nacional de precios al consumidor

In [ ]:
da= pd.read_csv("../AGEEML.csv",encoding = "utf-8")

In [ ]:
da